# Основные зависимости
grpcio>=1.72.1
protobuf>=4.25.0

# PDF обработка
pdfplumber==0.10.3
pypdf2==3.0.1
fpdf2==2.7.7  # Для тестов

# Дополнительные утилиты
tabulate==0.9.0

# Тестирование (опционально)
pytest==8.0.0